<div class="wrapper">
  <div class="wrapper__search">
    <input type="text" [(ngModel)]="findPackage" (input)="filterPackages()" />
      <button (click)="getPackagesOnClick()">Повторить запрос</button>
  </div>
  
  <div class="container">
    @if (package$ | async; as packages) { @for (package of packages; track package.id) {
      <div class="package" 
          (mouseenter)="onMouseEnter(package)"
          (mouseleave)="onMouseLeave()">
        <div class="package__header" 
        [ngClass]="{
          'highlight': hoveredPackageId === package.id,
          'dependency-highlight': hoveredPackageId && packageDependency.includes(package.id)
        }"
        [innerHTML]="package.id | transformHeader"
        >
          {{ package.id }}
        </div>
        <span class="package__downloads">{{ package.weeklyDownloads | transformCount }}</span>
        <span class="package__dependecies">{{ package.dependencyCount }} dependecies</span>
        <span>{{package.dependency ? 'dependency: true' : 'dependency: false'}}</span>
      </div>
      } }
  </div>
</div>

